<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-sample-cards/blank-card.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<dom-module id="parking-space">
  <template>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      .vertical-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
      }
      .horizontal-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }
      .details {
        background: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 200px;
        height: 500px;
        display: none;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 25%;
        padding: 5px;
        position: absolute;
        top: 10px;
        z-index: 5;
      }
    </style>
    <div>
      <div id="title">
        Enter An Address
      </div>
      <div id="type-selector" class="pac-controls">
        <input type="hidden" name="type" id="changetype-all" checked="checked">
      </div>
    </div>
    <div id="pac-container">
      <input id="pac-input" type="text"
             placeholder="Enter a location">
    </div>
    </div>
    <div class="vertical-flex">
      <div class="horizontal-flex">
        <div id="parking" style="width: 500px; height: 500px;"></div>
        <div class="details">
          <div>Available Parking Spaces: <span class="aps"></span></div>
          <div>Availability Percentage : <span class="ap"></span></div>
          <div>Weather Summery : <span class="summary"></span></div>
          <div>Max Temperature : <span class="temperatureMax"></span></div>
          <div>Min Temperature : <span class="temperatureMin"></span></div>
          <div>Wind Speed : <span class="windSpeed"></span></div>
          <div>Humidity : <span class="humidity"></span></div>

        </div>
      </div>
      <div class="horizontal-flex">
        <div id="traffic" style="width: 500px; height: 500px;"></div>
        <div class="details">
          <div class="ttu">Traffic Towards University: <span class="vc"></span> - <span class="ts"></span></div>
          <div class="tau">Traffic Away from University : <span class="vc"></span> - <span class="ts"></span></div>
        </div>
      </div>
      <div class="horizontal-flex">
        <div id="pedestrian" style="width: 500px; height: 500px;"></div>
        <div class="details">
          <div class="tpc">Total pedestrian in the campus: <span class="pc"></span> - <span class="ps"></span></div>
          <div class="ptu">Pedestrian going towards campus : <span class="pc"></span> - <span class="ps"></span></div>
          <div class="pau">Pedestrian going away from campus : <span class="pc"></span> - <span class="ps"></span></div>
        </div>
      </div>
    </div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>
    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
      const http = new XMLHttpRequest();
      var availableParking = 0;
      var totalParkingSpaces = 20;
      var map, heatmap;
      function initMap() {
        var card = document.getElementById('pac-card');
        var input = document.getElementById('pac-input');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert("No details available for input: '" + place.name + "'");
            return;
          }
          var lat = place.geometry.location.lat();
          var lng = place.geometry.location.lng();
          showAvailableSpaces(lat, lng);
          showTrafficFlow(lat, lng);
          showPedestrianData(lat, lng);
        });
      }
      function showPedestrianData(lat, lng) {
        var sfsu_LatLng = {lat: lat, lng: lng};
        map = new google.maps.Map(document.getElementById('pedestrian'), {
          zoom: 16,
          center: sfsu_LatLng,
          //mapTypeId: 'satellite'
        });
        var marker_locations = set_Markers(map);

        var pedestrianData = generate_pedestrians(marker_locations[0],marker_locations[1],map);
        var pedestrianTowardsUniversityPedestrianCount = 0;
        var pedestrianTowardsUniversityPedestrianSummery;
        var pedestrianAwayFromUniversityPedestrianCount = 0;
        var pedestrianAwayFromUniversityPedestrianSummery;
        var totalPedestrian = 0;
        var totalPedestrianSummary;
        pedestrianData.forEach((pedestrian)=> {
          pedestrianAwayFromUniversityPedestrianCount += pedestrian.out_count;
          pedestrianTowardsUniversityPedestrianCount += pedestrian.in_count;
        })
        totalPedestrian = pedestrianAwayFromUniversityPedestrianCount + pedestrianTowardsUniversityPedestrianCount;
        switch (true) {
          case pedestrianAwayFromUniversityPedestrianCount < 30: pedestrianAwayFromUniversityPedestrianSummery = 'Low Crowded';
            break;
          case pedestrianAwayFromUniversityPedestrianCount > 30 && pedestrianAwayFromUniversityPedestrianCount < 60: pedestrianAwayFromUniversityPedestrianSummery = 'Medium Crowded';
            break;
          case pedestrianAwayFromUniversityPedestrianCount > 80: pedestrianAwayFromUniversityPedestrianSummery = 'Heavy Crowded';
            break;
          default: pedestrianAwayFromUniversityPedestrianSummery = 'Low Traffic';
        }
        switch (true) {
          case pedestrianTowardsUniversityPedestrianCount < 30: pedestrianTowardsUniversityPedestrianSummery = 'Low Crowded';
            break;
          case pedestrianTowardsUniversityPedestrianCount > 30 && pedestrianTowardsUniversityPedestrianCount < 60: pedestrianAwayFromUniversityPedestrianSummery = 'Medium Crowded';
            break;
          case pedestrianTowardsUniversityPedestrianCount > 80: pedestrianTowardsUniversityPedestrianSummery = 'Heavy Crowded';
            break;
          default: pedestrianTowardsUniversityPedestrianSummery = 'Heavy Traffic';
        }
        switch (true) {
          case totalPedestrian < 60: totalPedestrianSummary = 'Low Crowded';
            break;
          case totalPedestrian > 60 && totalPedestrianSummary < 160: totalPedestrianSummary = 'Medium Crowded';
            break;
          case totalPedestrian > 160: totalPedestrianSummary = 'Heavy Crowded';
            break;
          default: totalPedestrianSummary = 'Heavy Crowded';
        }
        $('.tpc > .pc').html(totalPedestrian);
        $('.tpc > .ps').html(totalPedestrianSummary);
        $('.ptu > .pc').html(pedestrianTowardsUniversityPedestrianCount);
        $('.ptu > .ps').html(pedestrianTowardsUniversityPedestrianSummery);
        $('.pau > .pc').html(pedestrianAwayFromUniversityPedestrianCount);
        $('.pau > .ps').html(pedestrianAwayFromUniversityPedestrianSummery);
      }
      function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
      }
      function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }
      function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
      }

      function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
      }

      function generateLocations(center, radius, count){
        var locations = [];
        for(var i=0;i<count;i++){
          locations.push(generateLocation(center,radius));
        }
        return locations;
      }

      function generateLocation(center,radius){
        var x0 = center.lng;
        var y0 = center.lat;

        // Convert Radius from meters to degrees.
        var rd = radius/111300;

        var u = Math.random();
        var v = Math.random();

        var w = rd * Math.sqrt(u);
        var t = 2 * Math.PI * v;
        var x = w * Math.cos(t);
        var y = w * Math.sin(t);

        var xp = x/Math.cos(y0);

        // Resulting point.
        return {'lat': y+y0, 'lng': xp+x0};
      }
      var array = [];

      function points(ped_locations) {
        //var randomGeoPoint = generateLocations({'lat': 37.7219, 'lng': -122.4782}, 427.6955, 500);

        switch (ped_locations.length){

          case 5:
            return[
              new google.maps.LatLng(ped_locations[0].lat,ped_locations[0].lng),
              new google.maps.LatLng(ped_locations[1].lat,ped_locations[1].lng),
              new google.maps.LatLng(ped_locations[2].lat,ped_locations[2].lng),
              new google.maps.LatLng(ped_locations[3].lat,ped_locations[3].lng),
              new google.maps.LatLng(ped_locations[4].lat,ped_locations[4].lng)
            ];
          case 6:
            return[
              new google.maps.LatLng(ped_locations[0].lat,ped_locations[0].lng),
              new google.maps.LatLng(ped_locations[1].lat,ped_locations[1].lng),
              new google.maps.LatLng(ped_locations[2].lat,ped_locations[2].lng),
              new google.maps.LatLng(ped_locations[3].lat,ped_locations[3].lng),
              new google.maps.LatLng(ped_locations[4].lat,ped_locations[4].lng),
              new google.maps.LatLng(ped_locations[5].lat,ped_locations[5].lng)
            ];
          case 7:
            return[
              new google.maps.LatLng(ped_locations[0].lat,ped_locations[0].lng),
              new google.maps.LatLng(ped_locations[1].lat,ped_locations[1].lng),
              new google.maps.LatLng(ped_locations[2].lat,ped_locations[2].lng),
              new google.maps.LatLng(ped_locations[3].lat,ped_locations[3].lng),
              new google.maps.LatLng(ped_locations[4].lat,ped_locations[4].lng),
              new google.maps.LatLng(ped_locations[5].lat,ped_locations[5].lng),
              new google.maps.LatLng(ped_locations[6].lat,ped_locations[6].lng)
            ];
          case 8:
            return[
              new google.maps.LatLng(ped_locations[0].lat,ped_locations[0].lng),
              new google.maps.LatLng(ped_locations[1].lat,ped_locations[1].lng),
              new google.maps.LatLng(ped_locations[2].lat,ped_locations[2].lng),
              new google.maps.LatLng(ped_locations[3].lat,ped_locations[3].lng),
              new google.maps.LatLng(ped_locations[4].lat,ped_locations[4].lng),
              new google.maps.LatLng(ped_locations[5].lat,ped_locations[5].lng),
              new google.maps.LatLng(ped_locations[6].lat,ped_locations[6].lng),
              new google.maps.LatLng(ped_locations[7].lat,ped_locations[7].lng)
            ];
          case 9:
            return[
              new google.maps.LatLng(ped_locations[0].lat,ped_locations[0].lng),
              new google.maps.LatLng(ped_locations[1].lat,ped_locations[1].lng),
              new google.maps.LatLng(ped_locations[2].lat,ped_locations[2].lng),
              new google.maps.LatLng(ped_locations[3].lat,ped_locations[3].lng),
              new google.maps.LatLng(ped_locations[4].lat,ped_locations[4].lng),
              new google.maps.LatLng(ped_locations[5].lat,ped_locations[5].lng),
              new google.maps.LatLng(ped_locations[6].lat,ped_locations[6].lng),
              new google.maps.LatLng(ped_locations[7].lat,ped_locations[7].lng),
              new google.maps.LatLng(ped_locations[8].lat,ped_locations[8].lng)
            ];
          case 10:
            return[
              new google.maps.LatLng(ped_locations[0].lat,ped_locations[0].lng),
              new google.maps.LatLng(ped_locations[1].lat,ped_locations[1].lng),
              new google.maps.LatLng(ped_locations[2].lat,ped_locations[2].lng),
              new google.maps.LatLng(ped_locations[3].lat,ped_locations[3].lng),
              new google.maps.LatLng(ped_locations[4].lat,ped_locations[4].lng),
              new google.maps.LatLng(ped_locations[5].lat,ped_locations[5].lng),
              new google.maps.LatLng(ped_locations[6].lat,ped_locations[6].lng),
              new google.maps.LatLng(ped_locations[7].lat,ped_locations[7].lng),
              new google.maps.LatLng(ped_locations[8].lat,ped_locations[8].lng),
              new google.maps.LatLng(ped_locations[9].lat,ped_locations[9].lng)
            ];
        }

      }

      function set_Markers(map){
        var sfsu_LatLng = generateLocations({'lat':37.72364  , 'lng':-122.478387}, 350, 20);
        var location;
        var markers = {};
        for (var i = 0; i < sfsu_LatLng.length; i++) {
          location = sfsu_LatLng[i].lat + "," + sfsu_LatLng[i].lng;
          marker = new google.maps.Marker({
            position: {lat: sfsu_LatLng[i].lat, lng: sfsu_LatLng[i].lng},
            map: map,
            title: location,
            icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
          });
          markers[sfsu_LatLng[i].lat] = marker;
        }
        return [sfsu_LatLng,markers];
      }

      function generate_pedestrians(marker_locations,markers,map) {
        var marker_location;
        var updated_marker;
        var new_location;
        var ped_data = [];
        for(var i=0; i < marker_locations.length;i++){

          var towards_location = [];
          var away_location = [];
          var net_direction = [];
          var infowindow = new google.maps.InfoWindow;
          marker_location = marker_locations[i];
          var ped_count = randomIntFromInterval(5,10);    // Generates a random number between [5,10]
          var ped_locations = generateLocations({'lat':marker_location.lat  , 'lng':marker_location.lng}, 50, ped_count);
          ped_data.push(generate_direction(ped_count));
          heatmap = new google.maps.visualization.HeatmapLayer({
            data: points(ped_locations),
            map: map
          });
          new_location = "lat:"+marker_location.lat + "," + "lng:"+marker_location.lng + "," + "inwards(0):" + ped_data[i].in_count + "," + "outwards(180):"+ ped_data[i].out_count
            + "," + "net_direction:"+ped_data[i].net_direction;
          updated_marker = markers[marker_location.lat];
          updated_marker.setTitle(new_location);
          updated_marker.addListener('click', function() {
            infowindow.open(map, updated_marker);
          });
          infowindow.setContent(new_location);
        }
        return ped_data;
      }

      function generate_direction(ped_count) {
        var ped_directions = [];
        for (var k = 0; k < ped_count; k++) {
          ped_directions.push(Math.floor((Math.random() * 2)));
        }
        var in_count = 0;
        var out_count = 0;
        var net_direction = 0;
        for (var p = 0; p < ped_directions.length; p++){
          if (ped_directions[p] == 0) {
            in_count = in_count + 1;
          }
          else {
            out_count = out_count + 1;
          }
        }
        if (in_count< out_count) {
          net_direction = 180;
        }
        else if(in_count>out_count){
          net_direction = 0;
        }
        else{
          net_direction=-1;
        }
        return {'ped_dir':ped_directions,'in_count': in_count,'out_count':out_count,'net_direction':net_direction};
      }

      function randomIntFromInterval(min,max)
      {
        return Math.floor(Math.random()*(max-min+1)+min);
      }

      function point(ped_location) {
        return [
          new google.maps.LatLng(ped_location.lat, ped_location.lng)
        ];
      }

      function update_marker_title(ped_data,marker_id){

      }

      // code for pedestrian data ends





      // code for traffic flow starts
      function showTrafficFlow(lat, lng) {
        var promises = [];
        var geocoder = new google.maps.Geocoder;
        var map = new google.maps.Map(document.getElementById('traffic'), {
          zoom: 16,
          center: {
            lat: lat,
            lng: lng
          }
        });
        for (var i = 0; i < 5; i++) {
          promises.push(randomTrafficGeo({lat: lat, lng: lng}, 600))
        }
        Promise.all(promises).then((responses) =>{
          var trafficTowardsUniversityVehicleCount = 0;
          var trafficTowardsUniversityTrafficSummery;
          var trafficAwayFromUniversityVehicleCount = 0;
          var trafficAwayFromUniversityTrafficSummery;
          responses.forEach((response)=> {
            var vehiclesTowardsUniversity = 0;
            var trafficTowardsUniversity;
            var vehiclesAwayFromUniversity = 0;
            var trafficAwayFromUniversity;
            if (response.direction === 180) {
              vehiclesAwayFromUniversity = Math.round((response.vehicle_count + response.count)/2) > 0 ? Math.round((response.vehicle_count + response.count)/2): 1;
              vehiclesTowardsUniversity = (response.vehicle_count - vehiclesAwayFromUniversity) > 0 ? (response.vehicle_count - vehiclesAwayFromUniversity): 1;
              trafficAwayFromUniversityVehicleCount += vehiclesAwayFromUniversity;
            } else {
              vehiclesTowardsUniversity = Math.round((response.vehicle_count + response.count)/2) > 0 ? Math.round((response.vehicle_count + response.count)/2): 1;
              vehiclesAwayFromUniversity = (response.vehicle_count - vehiclesTowardsUniversity) > 0 ? (response.vehicle_count - vehiclesTowardsUniversity): 1;
              trafficTowardsUniversityVehicleCount += vehiclesTowardsUniversity;
            }
            if (trafficAwayFromUniversityVehicleCount === 0) {
              trafficAwayFromUniversityVehicleCount = 5;
            }
            if (trafficTowardsUniversityVehicleCount === 0) {
              trafficTowardsUniversityVehicleCount = 5;
            }
            switch (true) {
              case vehiclesAwayFromUniversity < 5: trafficAwayFromUniversity = 'Low Traffic';
                break;
              case vehiclesAwayFromUniversity > 5 && vehiclesAwayFromUniversity < 15: trafficAwayFromUniversity = 'Medium Traffic';
                break;
              case vehiclesAwayFromUniversity > 15: trafficAwayFromUniversity = 'Heavy Traffic';
                break;
              default: vehiclesAwayFromUniversity = 'Low Traffic';
            }
            switch (true) {
              case vehiclesTowardsUniversity < 5: trafficTowardsUniversity = 'Low Traffic';
                break;
              case vehiclesTowardsUniversity > 5 && vehiclesTowardsUniversity < 15: trafficTowardsUniversity = 'Medium Traffic';
                break;
              case vehiclesTowardsUniversity > 15: trafficTowardsUniversity = 'Heavy Traffic';
                break;
              default: vehiclesTowardsUniversity = 'Low Traffic';
            }
            var marketTitle = 'Vehicle Towards University: ' + vehiclesTowardsUniversity + '\n' +
              'Traffic Towards the University' + trafficTowardsUniversity + '\n' +
              'Vehicle Away from University: ' + vehiclesAwayFromUniversity + '\n' +
              'Traffic Away From the University' + trafficAwayFromUniversity + '\n';
            setCamera(response, map, geocoder, marketTitle);
          })
          switch (true) {
            case trafficAwayFromUniversityVehicleCount < 10: trafficAwayFromUniversityTrafficSummery = 'Low Traffic';
            break;
            case trafficAwayFromUniversityVehicleCount > 10 && trafficAwayFromUniversityVehicleCount < 30: trafficAwayFromUniversityTrafficSummery = 'Medium Traffic';
            break;
            case trafficAwayFromUniversityVehicleCount > 30: trafficAwayFromUniversityTrafficSummery = 'Heavy Traffic';
            break;
            default: trafficAwayFromUniversityTrafficSummery = 'Low Traffic';
          }
          switch (true) {
            case trafficTowardsUniversityVehicleCount < 10: trafficTowardsUniversityTrafficSummery = 'Low Traffic';
              break;
            case trafficTowardsUniversityVehicleCount > 10 && trafficTowardsUniversityVehicleCount < 30: trafficAwayFromUniversityTrafficSummery = 'Medium Traffic';
              break;
            case trafficTowardsUniversityVehicleCount > 30: trafficTowardsUniversityTrafficSummery = 'Heavy Traffic';
              break;
            default: trafficTowardsUniversityTrafficSummery = 'Heavy Traffic';
          }
          $('.ttu > .vc').html(trafficTowardsUniversityVehicleCount);
          $('.ttu > .ts').html(trafficTowardsUniversityTrafficSummery);
          $('.tau > .vc').html(trafficAwayFromUniversityVehicleCount);
          $('.tau > .ts').html(trafficAwayFromUniversityTrafficSummery);
        })
      }
      function setCamera(info, map, geocoder, title) {
        var infowindow = new google.maps.InfoWindow;
        var marker = new google.maps.Marker({
          position: {lat: info.lat, lng: info.lng},
          map: map,
          title: title,
          icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
        infowindow.setContent(title);
      }
      function snapCoords(lat, lng){
        return new Promise((resolve, reject) =>{
          var request = {
            url: 'https://roads.googleapis.com/v1/nearestRoads?points=' + lat +',' + lng +'&key=AIzaSyAoDE7IM9L5aMe6K6m4N47WzvUFCDMztJM',
            type: 'GET',
            dataType: 'jsonp',
          };
          $.ajax({
            url: request.url,
            type: 'GET',
            dataType: 'jsonp',
            error: errorHandler,
            cache: true
          }).then((response) => {
            var simData = genData();
            if (Array.isArray(response.snappedPoints))
            {
              if (response.snappedPoints.length > 0) {
                var snappedPoints = response.snappedPoints[0].location;
                resolve ({
                  'lat': snappedPoints.latitude,
                  'lng': snappedPoints.longitude,
                  'direction': simData.direction,
                  'vehicle_count' : simData.vehicle_count,
                  'count' : simData.count,
                });
              }
              else{
                console.log("Rejected because array length is less than 0");
                resolve({
                  'lat': lat,
                  'lng': lng,
                  'direction': simData.direction,
                  'vehicle_count' : simData.vehicle_count,
                  'count' : simData.count,
                });
              }
            }
            else{
              console.log("Rejected because object is undefined or not an array");
              resolve({
                'lat': lat,
                'lng': lng,
                'direction': simData.direction,
                'vehicle_count' : simData.vehicle_count,
                'count' : simData.count,
              });
            }
          }).catch(e => {
            console.log(e);
          });
        });
      }
      function randomTrafficGeo(center, radius) {
        return new Promise((resolve, reject) =>
        {
          var y0 = center.lat;
          var x0 = center.lng;
          var rd = radius / 111300; //about 111300 meters in one degree
          var u = Math.random();
          var v = Math.random();
          var w = rd * Math.sqrt(u);
          var t = 2 * Math.PI * v;
          var x = w * Math.cos(t);
          var y = w * Math.sin(t);
          //Adjust the x-coordinate for the shrinking of the east-west distances
          var xp = x / Math.cos(y0);
          var newlat = y + y0;
          var newlon = x + x0;
          var newlon2 = xp + x0;
          snapCoords(newlat, newlon).then(function(response){
            var variable = response;
            resolve(response);
          });
//      resolve(streetCoords);
        });
      }
        function genData(){
          var endDate = new Date();
          var currentHour = endDate.getHours();
          var direction = 0;
          var count = Math.floor(Math.random()*20);
          var vehicle_count = Math.floor(Math.random()*20);
          if(currentHour > 8 && currentHour <10)
          {
            vehicle_count += 60;
            count = vehicle_count-(count+15);
          }
          else if(currentHour > 10 && currentHour < 16)
          {
            vehicle_count += 45;
            count = vehicle_count-(count+35);
            if(count < 0)
            {
              count = Math.abs(count);
              direction = 180;
            }
          }
          else if(currentHour > 16 && currentHour < 20)
          {
            direction = Math.floor(Math.random())+180;
            var bin_count = Math.random();
            vehicle_count += 30+bin_count*20;
            count = vehicle_count-(count+15);
          }
          else if(currentHour > 20 && currentHour < 23)
          {
            vehicle_count += 10;
            count = vehicle_count-(count);
            if(count < 0)
            {
              count = Math.abs(count);
            }
            direction = 180;
          }
          else
          {
            direction = 180*Math.floor(Math.random());
            count = Math.abs((vehicle_count-count));
          }
          return{
            'vehicle_count': vehicle_count,
            'direction': direction,
            'count': count,
          }
        }

        // code for traffic flow ends


      // codes for parking space starts
      function showAvailableSpaces(lat, lng) {
        var map = new google.maps.Map(document.getElementById('parking'), {
          zoom: 15,
          center: {
            lat: lat,
            lng: lng
          }
        });
        var geocoder = new google.maps.Geocoder;

        for (var i = 0; i < 20; i++) {
          var myLatLng = randomParkingGeo({lat: lat, lng: lng}, 200);
          setMarker(myLatLng, map, geocoder);
        }
        $('.details').show();
        $('.aps').html(availableParking);
        $('.ap').html(Math.round((availableParking/totalParkingSpaces)*100) + '%')
        var request = {
          url: 'https://api.darksky.net/forecast/59e81c3cfd57f90ffd1a4a206dc134b8/' + lat +',' + lng,
          type: 'GET',
          dataType: 'jsonp',
        };
        $.ajax({
          url: request.url,
          type: 'GET',
          dataType: 'jsonp',
          jsonpCallback: 'past2callback',
          error: errorHandler,
          cache: true
        }).then((response) => {
          var todayWeatherData = response.daily.data[0];
          $('.summary').html(todayWeatherData.summary);
          $('.temperatureMax').html(todayWeatherData.temperatureMax + 'ºF');
          $('.temperatureMin').html(todayWeatherData.temperatureMin + 'ºF');
          $('.windSpeed').html(todayWeatherData.windSpeed + 'mph');
          $('.humidity').html(todayWeatherData.humidity * 100 + '%')
        })
      }
      function randomParkingGeo(center, radius) {
        var y0 = center.lat;
        var x0 = center.lng;
        var rd = radius / 111300; //about 111300 meters in one degree

        var u = Math.random();
        var v = Math.random();

        var w = rd * Math.sqrt(u);
        var t = 2 * Math.PI * v;
        var x = w * Math.cos(t);
        var y = w * Math.sin(t);

        //Adjust the x-coordinate for the shrinking of the east-west distances
        var xp = x / Math.cos(y0);

        var newlat = y + y0;
        var newlon = x + x0;
        var newlon2 = xp + x0;

        return {
          'lat': Number(newlat.toFixed(5)),
          'lng': Number(newlon.toFixed(5)),
        };
      }
      var errorHandler = function (e) {
        console.log(e.status + ' ' + e.statusText);
      };
      function setMarker(myLatLng, map, geocoder) {
        var infowindow = new google.maps.InfoWindow;
        var title;
        var icon;
        if (Math.random() >= 0.5) {
          title = 'Space Available';
          icon = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
          availableParking += 1;
        } else {
          title = 'Space Not Available';
          icon = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
        }
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: title,
          icon: icon
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
        infowindow.setContent(title);
      }

      // code for parking ends
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXd8KlVO4CH52NrFf1yrWQEbPJAd0Zjg4&libraries=places,visualization&callback=initMap"
            async defer></script>
  </template>
  <script>
    Polymer({
      is: 'parking-space',
      properties: {},
      ready: function() {
      }
    });
  </script>
</dom-module>
