<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-vis-timeseries/px-vis-timeseries.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="weather-data">
  <template>
    <div>Hello</div>
  </template>
  <script>
    Polymer({
      is: 'weather-data',
      properties: {
      },
    });
  </script>
</dom-module>
